/* .grid {
  width: 40vw;
  text-align: center;
}

.col,
.col-6 {
  border: solid 1px black;
  height: 60px;
  margin: 1px;
}

.row {
  padding: 0 20px;
}

.top-images {
  padding-left: 100px;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 780px) {
  .grid {
    width: 90vw;
  }
} */

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.grid {
  width: 250px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0;
  background: rgb(219, 218, 218);
}

/* mobile: height: 300px; width: 450px; */

.cell {
  display: inline-block;
}
.cell-border {
  border: 2px solid white;
}

.side-images {
  margin-right: 10px;
  width: 44px;
  height: 250px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.images {
  height: 44px;
  width: 44px;
}

.top-images {
  /* justify-content: space-around;
  display: flex;
  width: 250px;
  margin-left: 26px; */
}
/* .colours {
  height: 40px;
  width: 20px;
} */

.images:hover {
  border-bottom: 1px dotted black;
}

.colours-container {
  display: flex;
  justify-content: center;
  margin: 30px 0px 0px 18px;
  border: none;
}

.table .td {
  height: 18px;
}

#top-one {
  flex: 1;
  margin-left: 15;
  width: 70%;
  justify-content: space-around;
  align-items: space-around;
  padding-left: 20px;
}

#self-top {
  width: 65px;
}

#others-top {
  width: 70px;
}
