@media only screen and (min-device-width: 320px) and (max-device-width: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  .images {
    max-height: 24px;
    max-width: 24px;
  }

  .top-images {
    margin: 10px 0px 10px 0px !important;
  }

  .cell-border.col {
    max-height: 44px;
    max-width: 44px;
  }

  .table td {
    height: 26px !important;
    width: 26px !important;
  }

  #others-top,
  #self-top {
    max-width: 60px;
    max-height: 70px;
  }
}

@media only screen and (max-device-width: 350px) {
  .mid-section {
    padding-right: 0% !important;
  }
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  width: 80%;
  height: 100%;
}

.cell {
  display: inline-block;
}

.cell-border {
  border: 2px solid white;
  background-color: lightcyan;
  height: 64px;
  width: 64px;
}

.mid-section {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding-right: 30px;
}

.side-images {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-container {
  width: 20%;
}

.images {
  height: 34px;
  width: 34px;
}

.top-images {
  flex: 1;
  width: 70%;
  justify-content: space-evenly;
  height: auto;
  margin: 10px 0px 10px 15px;
}

#top-row {
  width: 50%;
  justify-content: space-between;
  padding-left: 15px;
}

#others-top,
#self-top {
  width: 80%;
  height: 85%;
}

/* .colours {
  height: 40px;
  width: 20px;
} */

.images:hover {
  border-bottom: 1px dotted black;
}

.colours-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border: none;
}

.table td {
  height: 40px;
  width: 40px;
}
